<div class="media">
    <div class="media-body">
        <h3 class="media-heading">
            <i class="fa fa-star" aria-hidden="true"></i>&nbsp;<%= link_to list.name, list %>
        </h3>
    </div>
</div>