<div class="row">
	<div class="col-md-12">
		<h1>About MAKEALIST</h1>
	</div>
	<div class="col-md-9">
		<p>Hi, I'm Brandon, the designer and developer of MAKEALIST.</p>
		<p>MAKEALIST is your home to personal, advanced lists with more features than a typical todo app. The site is currently under construction, but feel free to poke around (no hardhat required). Right now, the only list type availble is the product list, and it's not fully fleshed out. You'll notice a "basic" list type when creating a new list, but selecting it won't allow you to add list items...yet.</p>
		<p>If you'd like to check things out, feel free to sign up for an account with any email address (doesn't have to be real) and any password (doesn't need to be a good one). Since I'm still in the early stages of development, data is not being saved, so you may find that an account or list you created yesterday no longer exists. Keep this in mind.</p>
		<p>This web app is being built with Ruby on Rails and hosted on Heroku. Project files can be found on <a href="https://github.com/capncapes/makealist" target="_blank">Github</a>, and some of my other projects are available at <a href="http://brandoncaples.com/" target="_blank">brandoncaples.com</a>, my portfolio website.</p>
	</div>
</div>